@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    margin: 0px;
}

.page {
    margin: 0px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.lusseheader{
    background-color: rgb(251, 255, 30);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    color: rgb(54, 54, 54);
    display: flex;
 }

 .textlogo {
     color: black;
     font-weight: 600;
     font-family: 'Poppins', sans-serif;
     padding: auto;
     margin-left: 40px;
     margin-right: auto;
 }

.logo {
    height: 100%;
    
    border-right-style: solid;
    border-left-style: solid;
    border-width: 2px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
 }

 .lussebild {
     margin-left: 0px;
 }

 .lussetext{
     text-align: center;
     font-weight: 1000;
     font-size: 48px;
     margin-top: 0px;
 }

 .menu {
     width: 50px;
     height: 50px;
     background-color: rgb(129, 129, 129);
     padding: auto;
     margin-left: auto;
 }

.genjiimage{
    align-items: center;
    float: right;
    width: 33%;
}

.a {
    display: block;
}
main {
    height: 100%;
}

.footer {
    height: 80px;
    background-color: rgb(126, 126, 126);
    color: rgb(255, 255, 255);
 }

 .footertext {
     padding: 20px;
     text-align: center;
    
 }
