@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    margin: 0px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    border-bottom-style: solid;
    border-width: 1.5px;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    width: 200%;
}


.page {
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.lusseheader{
    background-color: rgb(88, 88, 88);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    color: rgb(54, 54, 54);
    display: flex;
    border-bottom-style: solid;
    border-color: grey;
    box-shadow: 0px 2px 10px -1px;
 }

 .textlogo {
     color: rgb(255, 238, 0);
     font-size: 2rem;
     font-weight: 600;
     font-family: 'Poppins', sans-serif;
     padding: auto;
     margin-left: 1%;
     border-right-style: solid;
     border-left-style: solid;
     border-color: black;
     padding-left: 2%;
     padding-right: 2%;
     
 }

.logo {
    height: 100%;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    
 }

 .lussebild {
     margin-left: 0px;
 }

 .lussetext{
     text-align: center;
     font-weight: 1000;
     font-size: 48px;
     margin-top: 0px;
 }

 .bigchungusmenu {
     height: 50px;
     right: 0px;
     width: 20%
 }

 .menu {
     position: fixed;
     right: 0px;
     width: 50px;
     height: 50px;
     background-color: rgb(148, 148, 148);
     
     border-left-style: solid;
     border-right-style: solid;
     display: inline-block;
 }

 .menu.content:hover {
    display: block;
  }

  .spanmenu:hover + .menu.content {
    display: block;
  }

 .menu.content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    height: 174px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0px;
    border-style: solid;
 }

 .fas.fa-bars {
     color: black;
     font-size: 50px;
     width: 50px;
     padding-left: 3px;
}


.genjiimage{
    align-items: center;
    float: right;
    width: 33%;
}

a:hover {
    background-color: red;
}
main {
    height: 100%;
}

.footer {
    height: 80px;
    background-color: rgb(126, 126, 126);
    color: rgb(255, 255, 255);
 }

 .footertext {
     padding: 20px;
     text-align: center;
    
 }

 .korven {
    background-color: black;
    width: 30%;
    animation: korv 1s infinite;
    position: relative;
 }

 @keyframes korv {
     0%    {left: 0px; }
     50%   {left: 70%; }
     100%  {left: 0px; }
 }

 h1 {
     color: forestgreen;
 }
 h3 {
    font-size: 4vw;
 }